<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.awesome.scottquach.proximitypush_upcounter">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Push-Up Fitness Tracker"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.StartMenuActivity"
            android:label="Push-Up Tracker"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.TrackerActivity"
            android:label="Main Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SavesActivity"
            android:label="@string/title_activity_saves"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:enabled="true"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1b853f43e0aa989369064dd2dc2521ef53522103" />

        <activity android:name=".activities.StatisticsActivity"></activity>
        <service
            android:name=".fcm.FcmTokenRefreshService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>


</manifest>