<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesome.scottquach.proximitypush_upcounter">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Push-Up Fitness Tracker"
        android:theme="@style/AppTheme"
        android:name=".BaseApplication">

        <meta-data android:name="android.max_aspect"
            android:value="2.1"/>


        <activity
            android:name=".activities.StartMenuActivity"
            android:label="Push-Up Tracker"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Main Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SavesActivity"
            android:label="@string/title_activity_saves"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.SettingsActivity"
            android:enabled="true"></activity>

        <receiver android:name=".receivers.NotificationReceiver" android:enabled="true"/>
        <receiver android:name=".receivers.RebootReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1b853f43e0aa989369064dd2dc2521ef53522103" />
    </application>


</manifest>